<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en">
    <title>Tech - Nowoczesne technologie IT</title>

    <meta content="Tech - Nowoczesne technologie IT" property="og:title">
    <meta content="Tech - Nowoczesne technologie IT" property="og:description">
    <meta content="https://localhost:3000/" property="og:url">
    <meta content="#0097D8" data-react-helmet="true" name="theme-color">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

    <div id="preloader">
        <span></span>
    </div> 

    <div id="page-wrapper">


        <header>
            <ul id="left-navbar">
                <li aria-label="logo">&lt;/&gt;</li>
            </ul>
            <ul id="right-navbar">
                <li><a aria-label="home">Home</a></li>
                <li><a aria-label="blog">Blog</a></li>
                <li><a aria-label="login">Login</a></li>
            </ul>
        </header>

        <section aria-label="First Page" class="fullviewport" id="first-page">
            <div class="flex-container left column-flex">
                <h4 class="fadeInSlideInLeft" style="animation-delay: 0.1s;">Świat</h4>
                <h2 class="fadeInSlideInLeft" style="animation-delay: 0.2s;">Nowoczesnej</h2>
                <h1 class="fadeInSlideInLeft" style="animation-delay: 0.3s;">Technologi</h1>
                <input type="button" value="Odkryj Nowoczesnej Technologi" class="fadeInSlideInLeft" style="animation-delay: 0.4s;">
            </div>
        </section>
        <section aria-label="Artificial Intelligence" id="artificial-intelligence" class="fullviewport">
            <div class="flex-container right column-flex">
                <h2 data-inviewport style="animation-delay: 0.1s;">Artificial</h2>
                <h1 data-inviewport style="animation-delay: 0.2s;">Intelligence</h1>
                <p data-inviewport style="animation-delay: 0.3s;">Sztuczna inteligencja to inteligencja demonstrowana przez maszyny, w przeciwieństwie do inteligencji naturalnej ludzi i zwierząt, która obejmuje świadomość i emocjonalność. Rozróżnienie między pierwszą a drugą kategorią jest często widoczne w wybranym akronimie.</p>
                <input type="button" onclick="window.open(window.location.href + `artificialintelligence`)" data-inviewport style="animation-delay: 0.4s;" value="Dowiedz się więcej o AI">
            </div>
        </section>


    </div>

    <script src="/assets/javascript/preloader.js"></script>
    <script src="/assets/javascript/animate.js"></script>


</body>
</html>